<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Lend-N-Share</title>
</head>
<body>
    <!-----------------------Nav-bar-start---------------------->
    <nav class="flex py-4 fixed w-full top-0 left-0">
        <div class="flex-none w-32 ml-5"></div>
        <div class="flex-1 flex justify-center items-center space-x-10 text-lg font-bold">
            <a class="transition-transform transform hover:scale-105" href="{%url 'home'%}"><button>Home</button></a>
            {% if not user.is_authenticated %}
            <a class="transition-transform transform hover:scale-105" href="{%url 'user_login'%}"><button>Login</button></a>
            {% else %}
            <a class="transition-transform transform hover:scale-105" href="{%url 'feed'%}"><button>Available Books</button></a>
            <a class="transition-transform transform hover:scale-105" href="{%url 'user_logout'%}"><button>Logout</button></a>
            {% endif %}
        </div> 
        <div class="flex-2 w-32"></div>
    </nav>
    <!-----------------------Nav-bar-end---------------------->
    {% block content %}

    {% endblock %}
</body>
</html>