<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Lend-N-Share</title>
    <style>
        body {
            background-image: url("{% static 'img/home.png'%}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <!-----------------------Nav-bar-start---------------------->
    <nav class="flex py-4 w-full top-0 left-0 text-black bg-amber-100">
        <div class="flex space-x-10 w-32 ml-5">
        </div>
        <div class="flex-1 flex justify-center items-center space-x-10 text-lg font-bold">
            <a class="transition-transform transform hover:scale-105" href="{%url 'home'%}"><button>Home</button></a>
            {% if not user.is_authenticated %}
            <a class="transition-transform transform hover:scale-105" href="{%url 'user_login'%}"><button>Login</button></a>
            {% else %}
            <a class="transition-transform transform hover:scale-105" href="{%url 'feed'%}"><button>Available Books</button></a>
            <a class="transition-transform transform hover:scale-105" href="{%url 'add_book'%}"><button>Add A Book</button></a>

            {%if request.path in '/feed/'%}
            <dialog class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/4 ">
                <div class="bg-white p-8 rounded-lg">
                    <div class="flex items-center justify-center">
                    <h2 class="text-2xl font-bold mb-4">Requested Books</h2>
                    </div>
                    <table class="w-full border-collapse">
                        <thead>
                            <tr class="border-b">
                                <th class="text-left text-xl py-2 px-4">Book Title</th>
                                <th class="text-left text-xl py-2 px-4">Status</th>
                                <th class="text-left text-xl py-2 px-4">Owner</th>
                                <th class="text-left text-xl py-2 px-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in requested_books %}
                                <tr class="border-b" id="{{request.book_id.id}}">
                                    <td class="text-left py-2 px-4">{{ request.book_id.title }}</td>
                                    <td class="text-left py-2 px-4">{{ request.book_status }}</td>
                                    <td class="text-left py-2 px-4">{{ request.book_id.owner.name}}</td>
                                    <td><button class="delete-button bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="{{request.book_id.id}}">Delete</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="mt-10 mb-1 flex items-center justify-center">
                    <button  class="modal-button bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" autofocus>Close</button>
                    </div>
                </div>
            </dialog>
            <button class="transition-transform transform hover:scale-105 modal-button">View Requests</button>
            {% endif %}
            <a class="transition-transform transform hover:scale-105" href="{%url 'user_logout'%}"><button>Logout</button></a>

            {% endif %}
        </div> 
        <div class="flex-2 w-32 flex items-center space-x-2">
            {% if user.is_authenticated %}
            <img class="w-auto h-10 rounded scale-125" src="{{ user.profile_pic.url }}"/>
            <p>{{ user.name }}</p>
            {% endif %}
        </div>
    </nav>
    <script>
        const dialog = document.querySelector("dialog");
        const showButton = document.querySelector("dialog + .modal-button");
        const closeButton = document.querySelector("dialog .modal-button");

        showButton.addEventListener("click", () => {
            dialog.showModal();
        });

        closeButton.addEventListener("click", () => {
            dialog.close();
        });

        $(document).ready(function(){
                    
        var csrftoken = getCookie('csrftoken');
        

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

            $('.delete-button').on('click', function(event){
                event.preventDefault();
                var book_id = $(this).attr("id")
                var $tr = $(this).closest('tr');
                if(confirm("Do you want to delete this item?")){
                    $.ajax({
                        url : '/delete_borrowing_request/'+book_id+'/',
                        method : 'POST',
                        headers : {
                            'X-CSRFToken' : csrftoken
                        },
                        success: function(response){
                            if(response.success){
                                console.log("Success delete")
                                $tr.remove()
                            }else{
                                console.log("Failed")
                            }
                        }
                    })
                }
            });
        });
    </script>
    <!-----------------------Nav-bar-end---------------------->
    <div class="pt-10">
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>