<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feed</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
        <!-----------------------Nav-bar-start---------------------->
        <nav class="flex py-4 fixed w-full top-0 left-0">
            <div class="flex-none w-32 ml-5"></div>
            <div class="flex-1 flex justify-center items-center space-x-10 text-lg font-bold">
                <a class="transition-transform transform hover:scale-105" href="{%url 'home'%}"><button>Home</button></a>
                <a class="transition-transform transform hover:scale-105" href="{%url 'user_login'%}"><button>Login</button></a>
            </div> 
            <div class="flex-2 w-32"></div>
        </nav>
        <!-----------------------Nav-bar-end---------------------->
</body>
</html>