{% extends './base.html' %}

{% block content %}
    <div>
    <div class = "view-requests flex items-center justify-center">
        <dialog class="fixed top-1/2 left-1/4 transform -translate-x-1/2 -translate-y-1/2 rounded">
            <div class="bg-white p-8 rounded-lg">
                <div class="flex items-center justify-center">
                <h2 class="text-2xl font-bold mb-4">Requested Books</h2>
                </div>
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="border-b">
                            <th class="text-left text-xl py-2 px-4">Book Title</th>
                            <th class="text-left text-xl py-2 px-4">Status</th>
                            <th class="text-left text-xl py-2 px-4">Owner</th>
                            <th class="text-left text-xl py-2 px-4">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requested_books %}
                            <tr class="border-b" id="{{request.book_id.id}}">
                                <td class="text-left py-2 px-4">{{ request.book_id.title }}</td>
                                <td class="text-left py-2 px-4">{{ request.book_status }}</td>
                                <td class="text-left py-2 px-4">{{ request.book_id.owner.name}}</td>
                                {% if request.status == "Waiting for confirmation" %}
                                    <td><button class="delete-button bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="{{request.book_id.id}}">Delete</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="mt-10 mb-1 flex items-center justify-center">
                <button  class="modal-button bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded">Close</button>
                {% if request.status == "Waiting for confirmation" %}
                    <button  class="confirm ml-10 modal-button bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" autofocus>Confirm</button>
                {% endif %}
                </div>
            </div>
        </dialog>
        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold py-2 px-4 border border-blue-500 transition-transform transform hover:scale-105 hover:text-white hover:border-transparent rounded modal-button">View Requests</button>
    </div>
    <div class="flex flex-wrap justify-center">
    {% if available_books %}
        {%for book in available_books %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg mx-4 my-4 bg-white relative transition-transform hover:scale-105">
                <img class="h-96 w-full" src="{{book.cover_image.url}}" alt="{{book.title}}">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{book.title}}</div>
                    <p class="text-gray-700 text-base">{{book.description}}</p>
                    <div class="mt-2 flex items-center justify-center">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{book.publication_year}}</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{book.genre.name}}</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{book.condition_desc}}</span>
                    </div>
                    <div class="mt-4 flex justify-center">
                        {% if book.id in requested_book_ids %}
                        <button class="bg-gray-300 text-gray-600 py-2 px-4 rounded-full text-sm font-semibold cursor-not-allowed" disabled>Already Requested</button>
                    {% else %}
                        <a id="{{book.id}}" href="" class="add-book-button bg-blue-500 text-white py-2 px-4 rounded-full text-sm font-semibold transition-transform transform hover:scale-105">Add This Book</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            
            
        {%endfor%}
    {% endif%}
</div>
<script>
    $(document).ready(function(){
        
        var csrftoken = getCookie('csrftoken');
        

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        $('.add-book-button').on('click', function(event){
            event.preventDefault();
            var button = $(this);
            var bookId = $(this).attr('id');
            console.log(bookId);

            $.ajax({
                url: '/create_borrowing_request/'+bookId+'/',
                method : 'POST',
                headers:{
                    'X-CSRFToken' : csrftoken
                },
                success: function(response){
                    if(response.success){
                        console.log('Success')
                        button.attr('disabled', true)
                            .removeClass('bg-blue-500')
                            .addClass('bg-gray-300 text-gray-600 cursor-not-allowed')
                            .text('Already Requested');

                    }else{
                        console.log('Error')
                    }
                },
                error:function(error){
                    console.log(error.statusText);
                }
            })
        })
    })
    const dialog = document.querySelector("dialog");
    const showButton = document.querySelector("dialog + .modal-button");
    const closeButton = document.querySelector("dialog .modal-button");

    showButton.addEventListener("click", () => {
        dialog.showModal();
    });

    closeButton.addEventListener("click", () => {
        dialog.close();
    });

    $(document).ready(function(){
                
    var csrftoken = getCookie('csrftoken');
    

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        $('.delete-button').on('click', function(event){
            event.preventDefault();
            var book_id = $(this).attr("id")
            var $tr = $(this).closest('tr');
            if(confirm("Do you want to delete this item?")){
                $.ajax({
                    url : '/delete_borrowing_request/'+book_id+'/',
                    method : 'POST',
                    headers : {
                        'X-CSRFToken' : csrftoken
                    },
                    success: function(response){
                        if(response.success){
                            console.log("Success delete")
                            $tr.remove()
                        }else{
                            console.log("Failed")
                        }
                    }
                })
            }
        });
    });

    $(document).ready(function(){
                
        var csrftoken = getCookie('csrftoken');
        
    
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
            $('.confirm').on('click', function(event){
                event.preventDefault();
                    $.ajax({
                        url : '/confirm_borrowing_request/',
                        method : 'POST',
                        headers : {
                            'X-CSRFToken' : csrftoken
                        },
                        success: function(response){
                            if(response.success){
                                console.log("Requests confirmed")
                                $('.delete-button').attr('disabled', true)
                                .removeClass('bg-red-500')
                                .addClass('bg-gray-300 text-gray-600 cursor-not-allowed')
                            }else{
                                console.log("Failed")
                            }
                        }
                    })
            });
        });    

</script>
{% endblock %}