<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/book.ico'%}">
    <script src="https://cdn.tailwindcss.com"></script>  
    <title>User Login</title>
    <style>
        div.error {
            padding: 10px;
            background: #ffefef;
            border: 1px solid #e7195a;
            color: #e7195a;
            border-radius: 4px;
            margin: 20px 0;
        }  
        body {
                background-image: url("{% static 'img/home.png'%}");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
    </style>
</head>
<body>
    <!-----------------------Nav-bar-start---------------------->
    <nav class="flex py-4 w-full top-0 left-0 text-black bg-amber-100  shadow-2xl shadow-amber-300/50">
        <div class="flex-none w-32 ml-5"></div>
        <div class="flex-1 flex justify-center items-center space-x-10 text-lg font-bold">
            <a class="transition-transform transform hover:scale-105" href="{%url 'home'%}"><button>Home</button></a>
            <a class="transition-transform transform hover:scale-105" href="{%url 'user_login'%}"><button>Login</button></a>
        </div> 
        <div class="flex-2 w-32"></div>
    </nav>
    <!-----------------------Nav-bar-end---------------------->

    <!---------------------- Login-div-start--------------------->
    <div class="flex items-center min-h-screen p-4 lg:justify-center">
        <div
          class="flex flex-col overflow-hidden bg-white rounded-md shadow-2xl max md:flex-row md:flex-1 lg:max-w-screen-md rounded"
        >
          <div class="p-5 bg-white md:flex-1">
            <h3 class="my-4 text-2xl font-semibold text-gray-700">Account Login</h3>
            {%if error %}
                <div class = "error"> Invalid Email or Password </div> 
            {% endif%}
            <form method="post">
              {% csrf_token %}
              <div class="flex flex-col space-y-5">
                  <div class="flex flex-col space-y-1">
                      <label for="{{ form.email.id_for_label }}" class="text-sm font-semibold text-gray-500">Email address</label>
                      {{ form.email }}
                  </div>
                  <div class="flex flex-col space-y-1">
                      <label for="{{ form.password.id_for_label }}" class="text-sm font-semibold text-gray-500">Password</label>
                      {{ form.password }}
                  </div>
                  <div class="flex items-center space-x-2">
                      <p class="flex  items-center justify-center text-center">
                          <span>Don't have an account?</span>
                          &nbsp;<a href="{% url 'user_signup' %}" class="underline">Get Started!</a>
                      </p>
                  </div>
                  <div>
                      <button type="submit" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-amber-600 rounded-md shadow hover:bg-amber-700 focus:outline-none focus:ring-amber-200 focus:ring-4">Log in</button>
                  </div>
              </div>
          </form>
        <!---------------------- Login-div-end--------------------->
              
</body>
</html>