<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign Up</title>
</head>
<body>
        <!-----------------------Nav-bar-start---------------------->
        <nav class="flex bg-gray-100 py-4 fixed w-full top-0 left-0">
            <div class="flex-none w-32 ml-5">Hello</div>
            <div class="flex-1 w-64"></div> 
            <div class="flex-2 w-32 justify-end space-x-2">
                <a href="{%url 'home'%}"><button>Home</button></a>
            </div>
        </nav>
        <!-----------------------Nav-bar-end---------------------->
</body>
</html>