<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>    
    <title>User Login</title>
</head>
<body>
    <!-----------------------Nav-bar-start---------------------->
    <nav class="bg-gray-100 py-4 fixed w-full top-0 left-0">
        <div class="container mx-auto">
            <ul class="flex justify-end">
                <li class="inline-block ml-4">
                    <a href="{%url 'home'%}">Home</a>
                </li>
                <li class="inline-block ml-4">
                    <a href="{% url 'user_login'%}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-----------------------Nav-bar-start---------------------->

</body>
</html>