{% extends './base.html' %}

{% block content %}
        <div class="w-full flex items-center justify-center">
        <table class="w-auto border-collapse shadow-lg">
            <thead>
                <tr class="border-b border-t">
                    <th class="text-left text-xl py-2 px-10 text-center">Borrower Name</th>
                    <th class="text-left text-xl py-2 px-10 text-center">Request Date</th>
                    <th class="text-left text-xl py-2 px-10 text-center">Book Name</th>
                    <th class="text-left text-xl py-2 px-10 text-center">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr class="border-b" id="{{request.book_id.id}}">
                        <td class="text-left py-2 px-4">{{ request.borrower_id.name }}</td>
                        <td class="text-left py-2 px-4">{{ request.request_date }}</td>
                        <td class="text-left py-2 px-4">{{ request.book_id.title}}</td>
                        <td class="text-left py-2 px-4">{{ request.due_date}}</td>
                        <td><button class="approve ml-10 modal-button bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="{{request.id}}" autofocus>Approve</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <script>
        $(document).ready(function(){
                
            var csrftoken = getCookie('csrftoken');
            
        
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        
                $('.approve').on('click', function(event){
                    event.preventDefault();
                    var request_id = $(this).attr("id")
                    var $tr = $(this).closest('tr');
                    if(confirm("Do you want to approve this request?")){
                        $.ajax({
                            url : '/approve_request/'+request_id+'/',
                            method : 'POST',
                            headers : {
                                'X-CSRFToken' : csrftoken
                            },
                            success: function(response){
                                if(response.success){
                                    console.log("Approved")
                                    $tr.remove()
                                }else{
                                    console.log("Failed")
                                }
                            }
                        })
                    }
                });
            });        
    </script>

{% endblock %}