{% extends './base.html' %}

{% block content %}
    <div class="w-full flex items-center justify-center">
        <table class="border-collaspe shadow-lg shadow-slate-500/40">
            <thead>
                <tr class="border-b border-t">
                    <th class="text-center text-xl py-2 px-10">Book Title</th>
                    <th class="text-center text-xl py-2 px-10">From Address</th>
                    <th class="text-center text-xl py-2 px-10">To Address</th>
                    <th class="text-center text-xl py-2 px-10">Status</th>
                    <th class="text-center text-xl py-2 px-10">Transaction Type</th>                    
                </tr>
            </thead>
            <tbody>
                {% for shipping_detail in shipping_details %}
                    <tr class="border-b">
                        <td class="text-left py-2 px-4">{{ shipping_detail.book_id.title }}</td>
                        <td class="text-left py-2 px-4">{{ shipping_detail.from_user.address }}</td>
                        <td class="text-left py-2 px-4">{{ shipping_detail.to_user.address}}</td>
                        <td class="text-left py-2 px-4">{{ shipping_detail.status}}</td>
                        <td class="text-left py-2 px-4">{{ shipping_detail.transaction_type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}